<template>
  <div>
    <card :title="$t('home')">
      {{ $t("you_are_logged_in") }}
    </card>
    <div>
      <router-link
        class="profil mt-3 d-inline-block rounded p-2 border border-info text-info"
        to="/profile"
        >Halaman profile</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  middleware: "auth",

  head() {
    return { title: this.$t("home") };
  }
};
</script>
<style scoped>
.profil:hover {
  background-color: #5bc0de;
  color: white !important;
  transition: all 0.3s ease-out;
  border: white !important;
}
.text-info {
  text-decoration: none;
}
</style>
