<template>
  <div>
    <div class="top-right links">
      <template v-if="authenticated">
        <router-link :to="{ name: 'home' }">
          {{ $t("home") }}
        </router-link>
      </template>
      <template v-else>
        <router-link :to="{ name: 'login' }">
          {{ $t("login") }}
        </router-link>
        <router-link :to="{ name: 'register' }">
          {{ $t("register") }}
        </router-link>
      </template>
    </div>

    <div class="text-center">
      <div class="title mb-4">
        <span class="laravel">Laravel</span><span class="nuxt">Nuxt</span>
        <!-- {{ title }} -->
      </div>

      <div class="links">
        <a href="https://github.com/cretueusebiu/laravel-nuxt"
          >github.com/cretueusebiu/laravel-nuxt</a
        >
      </div>
      <div>
        <router-link
          class="profil mt-3 d-inline-block rounded p-2 border border-info text-info"
          to="/profile"
          >Halaman profile</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  layout: "simple",

  data: () => ({
    title: process.env.appName
  }),

  head() {
    return { title: this.$t("home") };
  },

  computed: mapGetters({
    authenticated: "auth/check"
  })
};
</script>

<style scoped>
.profil:hover {
  background-color: #5bc0de;
  color: white !important;
  transition: all 0.3s ease-out;
  border: white !important;
}
.text-info {
  text-decoration: none;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 85px;
}

.laravel {
  color: #2e495e;
}

.nuxt {
  color: #00c48d;
}
</style>
